<div class="widget-wrap">
    <h3 class="widget-title"><%= __('About') %></h3>
    <div class="widget">
          <div class="aboutImg">
            <img src="https://i.imgur.com/IFmwrnC.jpg" width = "120px" height = "120px">
          </div>
          <div class="aboutInformation">
            <span style="font-family:Microsoft JhengHei; color:black;">
            <ul>
                <li>&nbsp&nbsp陳鎮華</li>
                <li>&nbsp&nbspZhen-Hua Chen</li>
                <li>&nbsp</li>
                <li>&nbsp&nbsp<a href="https://github.com/shizsun0609tw">github</a></li>
                <li>&nbsp&nbsp<a href="https://www.youtube.com/channel/UCdz5zI6t8_KF3lhIQg5edlw">youtube</a></li>
                <li>&nbsp&nbsp<a href="mailto:shizsun0609tw@gmail.com">contact</a></li>
            </ul>
            </span>
          </div>
          <div style="clear:both;"></div>
    </div>
</div>