<div class="widget-wrap">
    <h3 class="widget-title">statistics</h3>
    <div class="widget" align = right>    
        <a href="http://www.amazingcounters.com">
            <img border="0" src="http://cc.amazingcounters.com/counter.php?i=3242649&c=9728260" alt="AmazingCounters.com">
        </a>
    </div>
</div>