<% if (site.tags.length){ %>
    <div class="widget-wrap">
      <h3 class="widget-title"><%= __('views') %></h3>
      <div class="widget" style = "text-align:center">
          <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=36593680&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=36593680&main=1" /></noscript>
      </div>
    </div>
  <% } %>